*,
 +*::before,
 +*::after {
 +  -webkit-box-sizing: border-box;
 +    -moz-box-sizing: border-box;
 +      box-sizing: border-box;
 +
    }
/*-------------------------BODY---------------------------*/
body {
  background: url(../img/kuri.png) no-repeat center center fixed;
  background-size: cover;
}
/*-------------------------HEADER---------------------------*/
.ribbon {
 font-size: 25px;
 font-family: Chelsea Market;
 width: 50%;
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: .90em 2em;
 margin: 2em auto 3em;
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
/*-------------------------TEXT---------------------------*/
.text {
  width: 30%;
  position: absolute;
  top: 70%;
    left: 20%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
}


/*-------------------------FORM---------------------------*/
form {
  width: 30%;
  position: absolute;
  top: 70%;
    left: 90%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
}
#firstName {
  padding: 5px;
}
#lastName {
  padding: 5px;
}
#email {
  padding: 5px;
}
.button {
  padding: 5px;
}
/*-------------------------GALLERY---------------------------*/
img {
  border: 2px;
  border-style: solid;
  border-color: #DADADA;
  width: 125px;
  height: 125px;
}
 .photo img{
    display: block;
    float: left;
    margin-left: 5px;
 }
 .container img:target{
 }
.container {
  width: 50%;
  display: inline;
  position: absolute;
    top: 87%;
    left: 25%;
    margin-right: 5%;
    margin-left: 95%
    transform: translate(-50%, -50%);
/*-------------------------????---------------------------*/
